json/
automation/
supremehoodielogo.jpg
output.avi
messigray.png
dist/launchpad/rtmidi/_rtmidi.cp37-win32.pyd
launchpad.spec
__pycache__/launchpad.cpython-37.pyc
dist/launchpad/_bz2.pyd
dist/launchpad/_contextvars.pyd
dist/launchpad/_ctypes.pyd
dist/launchpad/_decimal.pyd
dist/launchpad/_hashlib.pyd
dist/launchpad/_lzma.pyd
dist/launchpad/_multiprocessing.pyd
dist/launchpad/_queue.pyd
dist/launchpad/_socket.pyd
dist/launchpad/_ssl.pyd
dist/launchpad/base_library.zip
dist/launchpad/launchpad.exe.manifest
dist/launchpad/pyexpat.pyd
dist/launchpad/select.pyd
dist/launchpad/unicodedata.pyd
